.products {
    &__inner {
    display: flex;
    justify-content: space-between; 
    padding-left: 50px;
    }
    &__text {
        max-width: 440px;
        p {
            margin-bottom: 30px;
        }

    }
    &__slider-box {
        position: relative;
        padding-top: 110px;
    }
    &__slider {
        max-width: 560px;
    }

    &__slider-text {
        width: 285px;
        position: absolute;
        text-align: right;
        font-size: 24px;
        line-height: 28px;
        @extend %ubuntu-medium;
        bottom: 50px;
        z-index: 5;
        left: -250px;
    }
}